<div class="navbar">
  <div class="navbar-left">
    <button (click)="goBack()">Back</button>
  </div>
</div>


<div class="container">
    <h1 class="title">Update Activity</h1>
    <div class="background-image">
      <img src="assets/allUsersBg.jpg" alt="Background">
    </div>
    <div class="card-container">
      <div class="card">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          <label for="name" class="bold-text">Name</label>
          <input id="name" formControlName="name" type="text" placeholder="Enter activity name" class="left-aligned bold-text">
          <br>
          <label for="location" class="bold-text">Location</label>
          <input id="location" formControlName="location" type="text" placeholder="Enter location" class="left-aligned bold-text">
          <br>
          <label for="price" class="bold-text">Price</label>
          <input id="price" formControlName="price" type="number" placeholder="Enter price" class="left-aligned bold-text">
          <button type="submit" class="button-style">Update</button>
        </form>
      </div>
    </div>
  </div>
  